<div>
    <table style="width: 100%; border-collapse: collapse;">
        <thead>
            <tr>
                <th>Property</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Name</td>
                <td>{{ object.name }}</td>
            </tr>
            <tr>
                <td>Vertices</td>
                <td>{{ object.vertice_count }}</td>
            </tr>
            <tr>
                <td>Faces</td>
                <td>{{ object.face_count }}</td>
            </tr>
        </tbody>
    </table>
</div>  
